.Home-main {
  --topBar-height: 49px;

  /* INNER-LAYOUT */
  padding: var(--size-10);
  padding-top: calc(var(--topBar-height) + var(--size-10));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  gap: var(--size-10);
}

.Home-topBar {
  /* SELF-LAYOUT */
  position: fixed;
  left: 0;
  top: -1px; /* Avoids sub-pixel gap in Safari */
  width: 100%;
  height: calc(env(safe-area-inset-top) + var(--topBar-height));

  /* APPEARANCE */
  border-bottom: 1px solid rgba(0, 0, 0, 0.066);
  background-color: white;

  /* INNER-LAYOUT */
  display: grid;
  align-items: end;
}

.Home-topBarContent {
  /* SELF-LAYOUT */
  height: var(--topBar-height);

  /* INNER-LAYOUT */
  padding-right: var(--x-collapsed-scrollbar-thickness);
  display: grid;
  place-items: center;

  /* TEXT */
  text-box: trim-both cap alphabetic;
  font-size: 17.25px;
  font-weight: 620;
  color: var(--gray-9);
}
